body {
  height: 100vh;
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #1e3a8a 0%, #080f24 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
  background-image: linear-gradient(to bottom right, #1e3a8a 0%, #0c142f 50%, #080f24 100%);
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

p {
  font-family: 'inter';
  font-size: 12px;
}

.bold 
{
  font-weight: bold;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.box {
  background-color: white;
  padding: 25px;
  width: 400px;
  border-radius: 16px;
  text-align: center;


  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15),
              inset 0 0 5px rgba(0, 0, 0, 0.1);


  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);  
  transition: transform 250ms ease;
  will-change: transform;
}

button {
  background-color: #1e3a8a;
  color:white;
  border-radius: 8px;
  padding: 10px 15px;
  border: 2px solid transparent;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

/* button:hover {
color: #1e3a8a;
background-color: white;
border: 2px solid #1e3a8a;
} */

@media (max-width:600px) {
  .box {
    width: 240px;
  }

  
}